body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #000;
}

span {
    font-style: italic;
}

#glCanvas {
    width: 900px;
    height: 600px;
    background-color: #000;
}

image, canvas {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}